* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background: #3161E0;
    height: auto;
}

.container-header {
    width: 80%;
    height: 3rem;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(-50%, -50%); 
} 

nav {
    width: 60%;
    line-height: 3rem;
    margin: 0 auto;
    height: 3rem;
    text-align: center;
}

nav a {
    width: calc((100% - 6rem) / 6);    
    height: 3rem;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0 .5rem;
}

header button {
    border-radius: 25px;
    padding: .5rem 1rem;
    border: solid 1px transparent;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.sez {
    position: relative;
    height: 500px;
    width: 100%;
}

.sezione1 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sezione1 h1 {
    margin: 25px;
    font-size: 50px;
}

.sezione1 .testo {
    width: 80%;
    margin: 1.5rem auto;
    line-height: 1.5rem;
}

.but-black {
    background: black;
    color: white;
}

button {
    border-radius: 25px;
    padding: .5rem 1rem;
    border: solid 1px transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.flt {
    width: 80%;
    margin: 100px auto;
}

.flt::after {
    content: "";
    display: table;
    clear: both;
}

.big {
    float: left;
    width: 60%;
    height: auto;
}

.sezione3 .big {
    float: right;
}

.small {
    width: calc(30% - 1rem);
    margin: 1rem .5rem;
    float: right;
}

.sezione3 .small {
    float: left;
}

.flt big {
    width: 100%;
}

.small h1 {    
    font-size: 40px;
}

.small div {
    margin-top: 1rem;
    line-height: 1.2rem;
}


